<div class="title-item" (mouseenter) = "playVideo()" (mouseleave) = 'stopVideo'>
    <video #trailer [src]="title.trailer" controls muted="muted"></video>
    <img [src]="title.cover" alt="Título">
    <div class="items">
        <div class="left-side">
            <button type="button" class="btn btn-play"><i class="material-icons">play_arrow</i></button>
            <button type="button" class="btn btn-muted" (click) = "toggleSound()" >
                <span class="material-icons" *ngIf = "!getMuted()">volume_up</span>
                <span class="material-icons" *ngIf = "getMuted()">volume_off</span>
            </button>
            <h2>{{ title.name }}</h2>
            <ul class="infos">
                <li class="title.relevance"></li>
                <li class="age" [ngClass]= "{'age-free': title.age ==0, 'age-12': title.age ==12, 'age-15' : title.age == 15 }"></li>
                <li class="title.parts">2 partes</li>
            </ul>
            <ul class="categories">
                <li *ngFor= ' let category of title.categories'>{{ category }}</li>
                <li>Filme de fantasia</li>
                <li>Viagem no espaço</li>
            </ul>
        </div>
    </div>

</div>
